<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Light/Dark Mode Editing Selection</string>
            <key>footerText</key>
            <string>Select which mode's colors to edit. Dark and light selections are stored using the same option.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>editingDarkMode</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>label</key>
			<string>Editing Mode</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>validValues</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient Background</string>
			<key>footerText</key>
			<string>Create a color gradient to set as the conversation list background. Up to five colors.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Create Gradient Background</string>
			<key>action</key>
			<string>createConvGradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Image Background</string>
			<key>footerText</key>
			<string>Pick a photo instead. This slider controls the blur of the image.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Image Background</string>
			<key>lightModeKey</key>
			<string>isConvImageBgEnabled</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Pick Background Image</string>
			<key>action</key>
			<string>pickConvListBgImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Image Blur Amount</string>
			<key>lightModeKey</key>
			<string>imageBlurAmount</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Colors</string>
			<key>footerText</key>
			<string>Title color affects both pinned and conversation list titles. Date/Time color also affects chevrons.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable Custom Text Colors</string>
			<key>lightModeKey</key>
			<string>isCustomTextColorsEnabled</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Title Color</string>
			<key>action</key>
			<string>pickTitleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Message Preview Color</string>
			<key>action</key>
			<string>pickMessagePreviewColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Date/Time Color</string>
			<key>action</key>
			<string>pickDateTimeColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pinned Conversation Preview Bubbles</string>
			<key>footerText</key>
			<string>Changes the bubble and text color of pinned conversation preview/unread bubbles. If left unchanged, the bubble defaults to the chosen received bubble color and text color in the chat view.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Bubble Color</string>
			<key>action</key>
			<string>pickPinnedBubbleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Bubble Text Color</string>
			<key>action</key>
			<string>pickPinnedBubbleTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NavBar Title</string>
			<key>footerText</key>
			<string>Controls the "Messages" title in the Navigation Bar. Leave title field blank for the default title.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>NavBar Title Text</string>
			<key>lightModeKey</key>
			<string>conversationListTitleText</string>
			<key>default</key>
			<string>Messages</string>
			<key>placeholder</key>
			<string>Messages</string>
			<key>keyboardType</key>
			<string>Alphabet</string>
			<key>autocapitalizationType</key>
			<string>Sentences</string>
			<key>autocorrectionType</key>
			<string>No</string>
			<key>returnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose NavBar Title Color</string>
			<key>action</key>
			<string>pickConversationListTitleColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Misc. Enable/Disable Items</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Separators</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSeparatorsEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Search Background</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isSearchBgEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide Pinned Convo Glow</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>key</key>
			<string>isPinnedGlowEnabled</string>
		</dict>
	</array>
	<key>title</key>
	<string>Conversation List Settings</string>
</dict>
</plist>