<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WhatAMessPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.oakstheawesome.whatamessprefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>NSPrincipalClass</key>
	<string>WAMRootListController</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
    	<dict>
        	<key>UTTypeIdentifier</key>
        	<string>com.oakstheawesome.wampreset</string>
        	<key>UTTypeDescription</key>
        	<string>WhatAMess Preset</string>
        	<key>UTTypeConformsTo</key>
        	<array>
           		<string>public.zip-archive</string>
        	</array>
        	<key>UTTypeTagSpecification</key>
        	<dict>
            	<key>public.filename-extension</key>
            	<array>
                	<string>wampreset</string>
            	</array>
       		</dict>
    	</dict>
	</array>
</dict>
</plist>