<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Light/Dark Mode Editing Selection</string>
            <key>footerText</key>
            <string>Select which mode's colors to edit. Dark and light selections are stored using the same option.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>editingDarkMode</string>
			<key>defaults</key>
			<string>com.oakstheawesome.whatamessprefs</string>
			<key>label</key>
			<string>Editing Mode</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>validValues</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modern Message Bar</string>
			<key>footerText</key>
			<string>Enables a redesigned view behind the message bar, providing a gradient that blurs content closer to the bottom of the screen. Similar to the Modern NavBar.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>lightModeKey</key>
			<string>isModernMessageBarEnabled</string>
			<key>label</key>
			<string>Enable Modern Message Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Bar Customization</string>
			<key>footerText</key>
			<string>Tints the message bar's blur. Works for both stock and modern message bars.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>lightModeKey</key>
			<string>isMessageBarCustomizationEnabled</string>
			<key>label</key>
			<string>Message Bar Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Message Bar Tint Color</string>
			<key>action</key>
			<string>pickMessageBarTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Input Field</string>
			<key>footerText</key>
			<string>Customizes the input field (text entry field).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>lightModeKey</key>
			<string>isInputFieldCustomizationEnabled</string>
			<key>label</key>
			<string>Input Field Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Input Field Background Color</string>
			<key>action</key>
			<string>pickInputFieldBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>lightModeKey</key>
			<string>isInputFieldBlurEnabled</string>
			<key>label</key>
			<string>Enable Blur Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>regular</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>lightModeKey</key>
			<string>inputFieldBlurStyle</string>
			<key>label</key>
			<string>Blur Style</string>
			<key>validValues</key>
			<array>
				<string>regular</string>
				<string>light</string>
				<string>dark</string>
				<string>ultraThinLight</string>
				<string>ultraThinDark</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Regular</string>
				<string>Light</string>
				<string>Dark</string>
				<string>Ultra Thin Light</string>
				<string>Ultra Thin Dark</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Message Input Field Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>lightModeKey</key>
			<string>isPlaceholderCustomizationEnabled</string>
			<key>label</key>
			<string>Customize Placeholder Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Placeholder Text Color</string>
			<key>action</key>
			<string>pickPlaceholderTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>lightModeKey</key>
			<string>placeholderText</string>
			<key>label</key>
			<string>Placeholder Text</string>
			<key>placeholder</key>
			<string>iMessage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>lightModeKey</key>
			<string>isMessageInputTextEnabled</string>
			<key>label</key>
			<string>Enable Input Text Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Input Text Color</string>
			<key>action</key>
			<string>pickMessageInputTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Send Button Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send Arrow Color</string>
			<key>action</key>
			<string>pickMessageBarArrowColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send Button Color</string>
			<key>action</key>
			<string>pickSendButtonColor</string>
		</dict>
	</array>
	<key>title</key>
	<string>Message Bar Settings</string>
</dict>
</plist>